In [16]:
import pandas as pd
import numpy as np
import yfinance as yf
import datetime as dt
import random
ticker=['^NSEI',"ADANIPORTS.NS"]
start = dt.datetime(2018, 1, 1)
end = dt.datetime(2024, 1, 1)

data = {}

for i in ticker:
    data[i] = yf.download(i,start,end)['Close']

df = pd.concat(data,axis=1)
df.head()

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

                   ^NSEI ADANIPORTS.NS
Ticker             ^NSEI ADANIPORTS.NS
Date
2018-01-01           NaN    399.649994
2018-01-02  10442.200195    397.399994
2018-01-03  10443.200195    407.649994
2018-01-04  10504.799805    409.850006
2018-01-05  10558.849609    423.799988

In [17]:
df.describe()

               ^NSEI ADANIPORTS.NS
Ticker         ^NSEI ADANIPORTS.NS
count    1477.000000   1481.000000
mean    14258.871270    560.348177
std      3401.334111    205.484952
min      7610.250000    207.800003
25%     11073.450195    370.850006
50%     13981.950195    485.399994
75%     17530.849609    744.200012
max     21778.699219   1094.300049

In [18]:
df.isna().sum()  # sum of null values

               Ticker
^NSEI          ^NSEI            4
ADANIPORTS.NS  ADANIPORTS.NS    0
dtype: int64

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1481 entries, 2018-01-01 to 2023-12-29
Data columns (total 2 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   (^NSEI, ^NSEI)                  1477 non-null   float64
 1   (ADANIPORTS.NS, ADANIPORTS.NS)  1481 non-null   float64
dtypes: float64(2)
memory usage: 34.7 KB

DATA CLEANNING

In [20]:
df.isna().any() #checking null values

               Ticker
^NSEI          ^NSEI             True
ADANIPORTS.NS  ADANIPORTS.NS    False
dtype: bool

In [21]:
missing_values= df.dropna()
missing_values.isna().any()# dropping null values

               Ticker
^NSEI          ^NSEI            False
ADANIPORTS.NS  ADANIPORTS.NS    False
dtype: bool

In [22]:
missing_values=df.isnull().sum() # Checking for missing values in the dataset
missing_values.isna().any()  # Display missing values

np.False_

In [23]:
missing_values = df.dropna()
print("missing values:-",missing_values)

missing values:-                    ^NSEI ADANIPORTS.NS
Ticker             ^NSEI ADANIPORTS.NS
Date
2018-01-02  10442.200195    397.399994
2018-01-03  10443.200195    407.649994
2018-01-04  10504.799805    409.850006
2018-01-05  10558.849609    423.799988
2018-01-08  10623.599609    422.899994
...                  ...           ...
2023-12-22  21349.400391   1027.500000
2023-12-26  21441.349609   1028.750000
2023-12-27  21654.750000   1024.400024
2023-12-28  21778.699219   1016.950012
2023-12-29  21731.400391   1024.349976

[1477 rows x 2 columns]

DESCRIPTIVE STARISTICS
MEAN

In [24]:
missing_values.describe()

               ^NSEI ADANIPORTS.NS
Ticker         ^NSEI ADANIPORTS.NS
count    1477.000000   1477.000000
mean    14258.871270    560.813202
std      3401.334111    205.567173
min      7610.250000    207.800003
25%     11073.450195    370.850006
50%     13981.950195    496.799988
75%     17530.849609    744.200012
max     21778.699219   1094.300049

MEDIAN

In [25]:
missing_values.median()

               Ticker
^NSEI          ^NSEI            13981.950195
ADANIPORTS.NS  ADANIPORTS.NS      496.799988
dtype: float64

MODE

In [26]:
missing_values.mode().iloc[0]

               Ticker
^NSEI          ^NSEI            10607.349609
ADANIPORTS.NS  ADANIPORTS.NS      361.100006
Name: 0, dtype: float64

z-score of Entre data

In [27]:
# Extract mean and std as scalars for each column
mean1 = missing_values['^NSEI'].mean()


mean2 = missing_values['ADANIPORTS.NS'].mean()


std1 = missing_values['^NSEI'].std()


std2 = missing_values['ADANIPORTS.NS'].std()


# Formula for z-score
zscore1 = (missing_values['^NSEI'] - mean1) / std1
zscore2 = (missing_values['ADANIPORTS.NS'] - mean2) / std2

# Print the z-scores of the columns
print("Z-Scores for ^NSEI:\n", zscore1)
print("Z-Scores for ADANIPORTS.NS:\n", zscore2)

Z-Scores for ^NSEI:
 Ticker         ^NSEI
Date
2018-01-02 -1.122110
2018-01-03 -1.121816
2018-01-04 -1.103706
2018-01-05 -1.087815
2018-01-08 -1.068778
...              ...
2023-12-22  2.084632
2023-12-26  2.111665
2023-12-27  2.174405
2023-12-28  2.210847
2023-12-29  2.196941

[1477 rows x 1 columns]
Z-Scores for ADANIPORTS.NS:
 Ticker      ADANIPORTS.NS
Date
2018-01-02      -0.794938
2018-01-03      -0.745076
2018-01-04      -0.734374
2018-01-05      -0.666513
2018-01-08      -0.670891
...                   ...
2023-12-22       2.270240
2023-12-26       2.276321
2023-12-27       2.255160
2023-12-28       2.218919
2023-12-29       2.254916

[1477 rows x 1 columns]

In [29]:
# Randomly sample 5 indices
sample = random.sample(range(len(df)), 5)

# Fetch data for the selected samples
nseidata = df['^NSEI'].iloc[sample]
adanidata = df['ADANIPORTS.NS'].iloc[sample]

# Calculate mean and standard deviation for z-score
nseimean = nseidata.mean()
nseisd = nseidata.std()
adanimean = adanidata.mean()
adanisd = adanidata.std()

zscore1 = (nseidata - nseimean) / nseisd
zscore2 = (adanidata - adanimean) / adanisd

print("Z-Scores for ^NSEI:\n", zscore1)
print("Z-Scores for ADANIPORTS.NS:\n", zscore2)

Z-Scores for ^NSEI:
 Ticker         ^NSEI
Date
2023-02-09  1.542086
2020-03-06 -0.715474
2019-05-16 -0.627954
2021-05-14  0.490591
2018-01-25 -0.689249
Z-Scores for ADANIPORTS.NS:
 Ticker      ADANIPORTS.NS
Date
2023-02-09       0.546263
2020-03-06      -0.928188
2019-05-16      -0.743958
2021-05-14       1.472003
2018-01-25      -0.346120

In [54]:
import pandas as pd 


# Assuming zscore1 and zscore2 are already calculated for '^NSEI' and 'ADANIPORTS.NS' respectively
# Sample 5 random points from zscore1 and zscore2
zscore1_sample = zscore1.sample(n=5, random_state=70).reset_index(drop=True)
zscore1_sample.name = '^NSEI Z-Score'

zscore2_sample = zscore2.sample(n=5, random_state=70).reset_index(drop=True)
zscore2_sample.name = 'ADANIPORTS.NS Z-Score'

# Combine the two z-scores into a DataFrame
combined_zscores = pd.DataFrame({
    '^NSEI Z-Score': zscore1_sample,
    'ADANIPORTS.NS Z-Score': zscore2_sample
})

# Sort combined z-scores by one of the columns (e.g., by ^NSEI Z-Score)
combined_zscores = combined_zscores.sort_values(by='^NSEI Z-Score', ascending=False)

# Print sorted combined z-scores
print("Sorted Combined Z-Scores (by ^NSEI Z-Score)")
print(combined_zscores)

# Interpretation: Check if z-scores are within reasonable bounds (abs < 2 is normal)
print("Interpretation of Z-Scores:")
# Loop through each row in the sorted data
for _, row in combined_zscores.iterrows():
    interpretation = ""  # Initialize interpretation for each row

    # Interpret ^NSEI Z-Score
    if row['^NSEI Z-Score'] > 0:
        interpretation += " | ^NSEI Z-Score is greater than the mean"
    elif row['^NSEI Z-Score'] < 0:
        interpretation += " | ^NSEI Z-Score is less than the mean"
    else:
        interpretation += " | ^NSEI Z-Score is equal to the mean"

    # Interpret ADANIPORTS.NS Z-Score
    if row['ADANIPORTS.NS Z-Score'] > 0:
        interpretation += " | ADANIPORTS.NS Z-Score is greater than the mean"
    elif row['ADANIPORTS.NS Z-Score'] < 0:
        interpretation += " | ADANIPORTS.NS Z-Score is less than the mean"
    else:
        interpretation += " | ADANIPORTS.NS Z-Score is equal to the mean"

    # Print the interpretation for each row
    print(f"Interpretation: {interpretation}")

Sorted Combined Z-Scores (by ^NSEI Z-Score)
   ^NSEI Z-Score  ADANIPORTS.NS Z-Score
1       1.063382               0.045993
0       0.583242               0.755196
4       0.481166              -1.713289
3      -0.933928               0.651294
2      -1.193861               0.260805
Interpretation of Z-Scores:
Interpretation:  | ^NSEI Z-Score is greater than the mean | ADANIPORTS.NS Z-Score is greater than the mean
Interpretation:  | ^NSEI Z-Score is greater than the mean | ADANIPORTS.NS Z-Score is greater than the mean
Interpretation:  | ^NSEI Z-Score is greater than the mean | ADANIPORTS.NS Z-Score is less than the mean
Interpretation:  | ^NSEI Z-Score is less than the mean | ADANIPORTS.NS Z-Score is greater than the mean
Interpretation:  | ^NSEI Z-Score is less than the mean | ADANIPORTS.NS Z-Score is greater than the mean